# Muhammad Khan  In-Class Exercise 2/2/2024

In [23]:
import pandas as pd

### First DataFrame

In [24]:
data1 = {
    'StudentID': [1,2,3,4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
}
df1 = pd.DataFrame(data1)

### Second DataFrame

In [15]:
data2 = {
    'StudentID': [3, 4, 5, 6],
    'Grade': ['A', 'B', 'C', 'D']
}
df2 = pd.DataFrame(data2)

### Inner Join

In [16]:
inner_join_df = pd.merge(df1, df2, on='StudentID', how='inner')

### Left Join

In [17]:
left_join_df = pd.merge(df1, df2, on='StudentID', how='left')

### Right Join

In [ ]:
right_join_df = pd.merge(df1, df2, on='StudentID', how='right')

### Third DataFrame for Sales Data

In [18]:
sales_data = {
    'Salesperson': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob', 'Charlie'],
    'Product': ['Widget', 'Widget', 'Gadget', 'Gadget', 'Widget', 'Gadget'],
    'Quantity': [4, 2, 3, 5, 6, 1]
}
df_sales = pd.DataFrame(sales_data)

### Group by Salesperson and Sum Quantity

In [19]:
salesperson_group = df_sales.groupby('Salesperson')['Quantity'].sum().reset_index()

### Group by Product and calculate the average Quantity

In [25]:
product_group = df_sales.groupby('Product')['Quantity'].mean().reset_index()